#---------------------------------------------------------------------------------------------
# REQUIRED
#---------------------------------------------------------------------------------------------
set(BENCHAMARK_ROOT "<becnhmark root path>")
set(benchmark_DIR "${BENCHAMARK_ROOT}/lib/cmake/benchmark")
