{
  "version": 8,
  "configurePresets": [
    {
      "name": "local-config",
      "hidden": true,
      "cacheVariables": {
        "benchmark_DIR":"<Benchmark Root Path>/lib/cmake/benchmark"
      }
    }
  ]
}
